
<!--app_public\src\app\components\access-control\access-control.component.html-->

<p>access-control works!</p>
<div style="position: relative; width: 400px;">
  <video #video autoplay muted width="400"></video>
  <canvas #overlay 
          width="400" 
          height="300"
          style="position:absolute; top:0; left:0;">
  </canvas>
</div>

<div style="margin-top:10px;">
  <input [(ngModel)]="mifareInput" placeholder="Mifare kod" />
  <button (click)="onCardScanned()">Scan kort</button>
</div>

<div *ngIf="currentEmployee as emp">
  <h3>{{ emp.FulltNamn }}</h3>
  <p>{{ emp.Roll }}</p>
</div>

<h2>{{ accessStatus }}</h2>


