<input type="text" id="searchField" (input)="searchTable($event)" placeholder="Sök...">
<button (click)="laggTillNyAnstalld()">➕ Lägg till ny anställd</button>


<!--<div #handsontableContainer class="handsontable-container"></div>-->

<div style="overflow-x: auto; max-width: 100%;">
    <div #handsontableContainer class="handsontable-container"></div>
  </div>

<!--
<input type="text" id="searchField" (input)="searchTable($event)" placeholder="Sök...">
<button (click)="laggTillNyAnstalld()">➕ Lägg till ny anställd</button>

<button (click)="forraSida()" [disabled]="skip === 0">⬅️ Föregående (Sida {{ currentPage - 1 }})</button>
<button (click)="naxtaSida()" [disabled]="skip + limit >= totalAnstallda">Nästa (Sida {{ currentPage + 1 }}) ➡️</button>

<p>Visar {{ skip + 1 }} - {{ skip + anstallda.length }} av {{ totalAnstallda }} anställda</p>

<div #handsontableContainer class="handsontable-container"></div>-->
